Source: wazo-dummy-package
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev+pkg@wazo.community>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://wazo-platform/wazo-dummy-package

Package: wazo-dummy-package
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Dummy package
 second line
